@keyframes pearlEffect {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 50% 50%;
    }
}

#nav_logo {
    background-image: url('images/logo.png'), linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.3),
        rgba(229, 232, 255, 0.5),
        rgba(210, 245, 255, 0.6),
        rgba(187, 222, 251, 0.4),
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.8)
    );
    background-size: cover, 300% 300%; /* First 'cover' for the image, then the gradient */
    background-position: center, 0% 50%;
    background-repeat: no-repeat;
    animation: pearlEffect 10s linear infinite;

    -webkit-mask-image: radial-gradient(circle, white 80%, transparent 110%);
    mask-image: radial-gradient(circle, white 80%, transparent 110%);
}
