@tailwind base;
@tailwind components;
@tailwind utilities;

/* =======================
   🌗 Theme Colors
   ======================= */
:root {
  --bg: #ffffff;
  --fg: #222222;
  --link: #0070f3;
  --code-bg: #f1f1f1;
  --pre-bg: #f6f8fa;
}

/* [data-theme='dark'] {
  --bg: #1e1e1e;
  --fg: #eaeaea;
  --link: #6ab0f3;
  --code-bg: #333333;
  --pre-bg: #2a2a2a;
} */

/* =======================
   📐 Root Layout
   ======================= */


html,
body,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
  font-family: system-ui, sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  transition: background-color 0.3s, color 0.3s;
}

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
  }

  @font-face {
    font-family: 'Orbitron';
    src: url('/fonts/Orbitron-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Orbitron';
    src: url('/fonts/Orbitron-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'Orbitron';
    src: url('/fonts/Orbitron-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
  }
}